/* div {
    border: 1px dotted red;
} */

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vmax;
    max-width: 98%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 6vmax;
}
.productDetails__block1{
    display: flex;    
}

.productDetails__left {
    width: 35%;
    border: 1px solid white;
    padding: 2vmax;
}

.productDetails__right {
    background: white;
    width: 55%;
    border: 1px solid white;
    padding: 2vmax 4vmax;
    border-left: 1px solid rgba(97, 97, 97,0.3);
}

.productDetails__right_block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2vmax;
}

.productDetails__right_block1_1 {
    display: flex;
    flex-direction: column;
}

.productDetails__right_block1_2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vmax;
}

.product_id {
    font-size: 1.2vmax;
}

.productPrice {
    color: crimson;
    margin-top: 2vmax;
}

.productDetails__right_quantity {
    display: flex;
    justify-content: space-between;
    border-radius: 1vmax;
    width: 12%;
    border: 1px solid rgb(108, 108, 108)
}

.incDecBtn {
    border-radius: 1vmax;
    border: none;
    background: rgb(78, 78, 78);
    color: white;
}

.buyNowBtn {
    min-height: 5vmax;
    min-width: 10vmax;
    color: white;
    font: 800 2vmax "Roboto";
    border-radius: 0.5vmax;
    background: tomato;
    border: white;
    margin: 2vmax 0;
    cursor: pointer;
}
.productDetails__bottom{
    border-top:  1px dashed rgba(97, 97, 97,0.3);
    margin-top: 4vmax;
    min-width: 50vw;
    min-height: 50vh;
}
.productDetails__bottom_reviews_header{
    text-align: center;
    border-bottom: 1px solid rgb(100, 100, 100);
    padding: 1vmax;
    width: fit-content;
    margin: 0 auto;
}


.instock,
.instock__hurry,
.outofstock {
    font-size: 1.1vmax;
}

.instock {
    color: green;
}

.instock__hurry {
    color: rgb(227, 227, 55);
}

.outofstock {
    color: red;
}

.alert-notice{
    margin: 2vmax auto;
    padding:2vmax;
    background:  #eed20261;
    border: 1px solid  #eed202;
    border-radius: 1vmax;
    min-height: 5vmax;
    min-width: 5vmax;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:600px){
    .productDetails {
        flex-direction: column;
    }
    .productDetails__block1{
        flex-direction: column;
    }
    .productDetails__left {
        width: 95%;
    }
    
    .productDetails__right {
        width: 95%;
        border-left: none;
        border-top: 1px solid rgba(97, 97, 97,0.3);
        padding: 2vmax;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .productDetails__right_block1 {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .productDetails__right_block1_2 {
        align-self: flex-end;
        margin-top: 2vmax;
    }
    .productDetails__right_quantity {
        width: 40%;
        font-size: 3vmax;
    }
    .productDetails__right_quantity p{
        margin: auto;
    }
    .incDecBtn {
        height: 5vmax;
        width: 5vmax;
        font-size: 3vmax;
    }
    .instock,.outofstock,.instock__hurry{
        font-size: 2.5vmax;
    }
    
}