.productCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    width: 14vmax;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard img {
    width: 14vmax;
}

.productCard__title {
    font: 100 1vmax "Roboto";
    margin-left: 1vmax;
    margin-bottom: 0;
}

.productCard__price {
    color: tomato;
    font: 600 1vmax "Roboto";
    margin-left: 1vmax;
}

.productCard__price::after {
    content: ".00";
}

.productCard div {
    margin: 0.2vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCard div span {
    margin: 0.2vmax;
    font: 300 0.7vmax "Roboto";
}

.productCard:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: scale(1.1, 1.1);
}

@media screen and (max-width:600px) {
    .productCard {
        width: 16vmax;
    }

    .productCard img {
        width: 16vmax;
    }

    .productCard__title {
        font-size: 1.2vmax;
    }

    .productCard__price {
        font-size: 1.5vmax;
    }
    .productCard div span {
        font-size: 1vmax;
    }
}