input:focus {
    outline: none;
}

.searchBox {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBox div {
    display: flex;
    width: 60%;
    height: 3vmax;
}

.searchBox div input[type="text"],
.searchBox div input[type="submit"] {
    height: 100%;
    font-size: 1vmax;
}

.searchBox div input[type="text"] {
    width: 80%;
    height: 89%;
}

.searchBox div input[type="submit"] {
    width: 20%;
    background: crimson;
    border: 1px solid crimson;
    color: white;
    box-shadow: rgb(255 255 255 / 87%) 2px -3px 7px 0px;
}

.searchBox div input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: rgba(255, 0, 0, 0.866) 0px 5px 15px;
}