/* FILTER BASIC */
.filter_basic {
    margin: 0;
    height: 80vh;
    border: 1px solid gold;
    border-radius: 0.5vmax;
    overflow-y: scroll;
}

/* .filter_basic_main {

} */
.filter_basic_main_category > ul {
    list-style-type: none;
    padding: 0;
}
.filter_basic_main_category > ul > li{
    padding: 0.4vmax;
    padding-left: 1vmax;
}
.filter_basic_main_category > ul > li:first-child{
    padding-left: 0.4vmax;
}
.filter_basic_main_category > form{
    display: flex;
    flex-direction: column;
    gap: 0.2vmax;
    margin: 1vmax;
}
.filter_basic_main_category > form > input[type="number"]{
    width: 50%;
}

.filter_basic_main_category > form > input[type="submit"]{
    width: fit-content;
    background: rgb(246,130,46);
    color: white;
    border: none;
    border-radius: 0.5vmax;
}
